@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Libre+Baskerville&family=Nunito:wght@200&display=swap');

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 48 px;
    font-style: italic;
}

h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

p, span, figcaption, label, textarea, ul, li, input, button, select, option {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}