.connexion-page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "article-form article-socials article-inscription";
}

.article-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    & input {
        width: 80%;
        margin: 10px;
    }
}

.social {
    padding: 5px;
    margin: 20px;
}

.article-inscription {
    align-self: center;
}